{% extends "layouts/logged_in.html" %}
{% load url from future %}
{% block content %}
    <div class="span8">
        <div class="page-header">
            <h3>Change Password</h3>
        </div>
        <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="input01">Current Password:</label>
                <div class="controls">
                    {{ form.old_password }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input01">New Password:</label>
                <div class="controls">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Confirm Password:</label>
                <div class="controls">
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button class="btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}

