    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Generic App</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/plans">Plans & Pricing</a></li>
              <li><a href="/accounts/register">Sign Up</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              {% if user.is_authenticated %}
              <li><a href="{% url dashboard.views.index %}">Dashboard</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{% url dashboard.views.index %}">Account Settings</a></li>
              {% else %}
              <li><a href="/accounts/login">Login</a></li>
              {% endif %}
              <li class="divider-vertical"></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
