<div class="row">
    <div class="span12">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'warning' %}
                <div class="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'info' %}
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'error' %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>
